<div class ="jumbotron">
<h1> List of all posts </h1>

  <div class = 'posts'>
    <% @post.each do |post| %>
      <%= render 'post', post: post %>
    <% end %>
  </div>

    <hr />
    <%= link_to 'New Post', new_post_path, role: 'button', class: "btn btn-secondary" %>
</div>
